*{
    margin:0;
    padding:0;
}
body{
    background: url("../images/bg.jpg") repeat-y;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
}
.container{
    width:1155px;
    min-height:1200px;
    margin:0 auto;
    margin-top:50px;
    padding-top:5em;
    margin-bottom: 50px;
    background-color: rgba(0,0,0,.7);
    position: relative;
}
.name{
    width:1026px;
    min-height: 285px;
    text-align: center;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    background-color: #cc3467;
}
.name h3{
    color: rgb(255,255,255);
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.1;
}
.tab-wraper{
    width:964px;
    height:auto;
    position: absolute;
    left:50%;
    top:142px;
    transform: translateX(-50%);
    background-color:white;
    padding:34px 70px;
}